body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.container {
  background: #2b2f3a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 350px;
  animation: fadeIn 0.8s ease-in-out;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #40454f;
  color: #fff;
  text-align: center;
}

input:read-only {
  background: #2b2f3a;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease, transform 0.2s ease;
}

button#edit {
  background-color: #ffc107;
}

button#delete {
  background-color: #dc3545;
}

button:hover {
  background: #0056b3;
  transform: scale(1.05);
}

button#edit:hover {
  background-color: #e0a800;
}

button#delete:hover {
  background-color: #c82333;
}

.totp-display {
  margin-top: 20px;
}

#totp {
  font-size: 2em;
  color: #17a2b8;
}

.qrcode {
  margin: 10px auto;
  padding: 10px;
  background: white;
  border-radius: 5px;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
